@font-face {
  font-family: Debby;
  src: url(fonts/Debby.ttf); }
@font-face {
  font-family: RissaTypeface;
  src: url(fonts/RissaTypeface.ttf); }
body {
  font-family: Lato, sans-serif; }

.banner {
  background: url(../images/banner.jpg) no-repeat;
  background-size: 100%;
  height: 650px;
  width: 100%;
  position: relative;
  margin-top: -70px; }
  .banner .search-form {
    padding: 10px;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 30px; }
    .banner .search-form ul {
      padding-left: 0px;
      margin-bottom: 2px;
      list-style: none; }
      .banner .search-form ul li {
        display: inline; }
        .banner .search-form ul li .bootstrap-select {
          width: 191px !important; }
      .banner .search-form ul:first-child {
        margin-bottom: 10px; }
    .banner .search-form input[type='text'] {
      padding: 0.8em 3em 0.8em 0.8em;
      border: none;
      color: #222;
      border-radius: 3px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      font-size: 1.4em;
      width: 900px;
      vertical-align: middle;
      outline: none;
      background-color: rgba(255, 255, 255, 0.4); }
      .banner .search-form input[type='text']::-webkit-input-placeholder {
        color: #FFF; }
      .banner .search-form input[type='text']::-moz-placeholder {
        /* Firefox 18- */
        color: #FFF; }
      .banner .search-form input[type='text']::-moz-placeholder {
        /* Firefox 19+ */
        color: #FFF; }
      .banner .search-form input[type='text']::-ms-input-placeholder {
        color: #FFF; }
    .banner .search-form button:not(.dropdown-toggle) {
      vertical-align: middle;
      margin-left: -3px;
      font-size: 34px;
      height: 59px;
      width: 65px;
      background-size: 40px 40px;
      background-repeat: no-repeat;
      background-color: #FFF;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border: none;
      outline: none;
      margin-top: -1px;
      color: #FFDD15;
      background-color: rgba(255, 255, 255, 0.4); }
    .banner .search-form button.dropdown-toggle {
      height: 40px;
      border-radius: 3px;
      border: none; }

.navbar {
  z-index: 1;
  height: 70px;
  background: transparent;
  border-color: transparent;
  margin-bottom: 0px; }
  .navbar div.container-fluid {
    padding-top: 8px; }
  .navbar ul li a {
    color: #FFF !important;
    font-weight: 900; }
  .navbar ul li.brd {
    border: 1px solid #353535; }
  .navbar.n-index ul li a {
    color: #353535 !important;
    font-weight: 300;
    font-size: 20px; }
  .navbar.n-index ul li.brd {
    border: 1px solid #353535; }
  .navbar.n-index ul li input[type="text"] {
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #ABABAB;
    box-shadow: none;
    padding: 20px;
    font-size: 16px;
    font-weight: 300; }
  .navbar.n-index ul li button {
    margin-top: 5px;
    margin-left: 3px;
    border-radius: 3px;
    border: 1px solid #ABABAB;
    box-shadow: none;
    padding: 9px;
    font-size: 16px;
    font-weight: 300; }
  .navbar.n-index ul li.w300 {
    width: 300px; }

.list-title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300; }

.list {
  margin-bottom: 20px; }
  .list h4.title-name {
    margin-top: 15px;
    margin-bottom: 0px;
    font-weight: 500; }
  .list .property-address {
    margin-left: -2px;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 14px;
    color: #8E8E8E;
    letter-spacing: 0.4px; }
  .list p:not(.broker-cont) {
    font-weight: 300;
    margin-bottom: 5px;
    margin-top: 15px;
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 10px; }
    .list p:not(.broker-cont) .broker_mini_img {
      width: 30px; }
    .list p:not(.broker-cont) small {
      line-height: 18px;
      font-size: 20px; }
    .list p:not(.broker-cont) label {
      margin-right: 10px;
      font-weight: 400; }
  .list div.image-list-container {
    position: relative; }
    .list div.image-list-container img {
      width: 100%; }
    .list div.image-list-container .broker-cont {
      position: absolute;
      bottom: 0;
      left: 0px;
      width: 100%;
      padding: 5px;
      background: rgba(0, 0, 0, 0.6); }
      .list div.image-list-container .broker-cont img {
        width: 50px !important;
        border-radius: 100%; }
      .list div.image-list-container .broker-cont b {
        color: #FFF;
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        margin-left: 10px; }
    .list div.image-list-container div.img-hover {
      display: none;
      background: black;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5); }
      .list div.image-list-container div.img-hover ul {
        height: 23px;
        margin-top: 20px;
        margin-left: 10px;
        padding-left: 0px;
        list-style: none; }
        .list div.image-list-container div.img-hover ul li {
          display: inline;
          margin-right: 10px; }
          .list div.image-list-container div.img-hover ul li a {
            border: 1px solid #868686;
            border-radius: 2px;
            padding: 9px;
            font-weight: 300;
            font-size: 14px;
            text-decoration: none;
            color: #FFF; }
            .list div.image-list-container div.img-hover ul li a:hover {
              border: 1px solid #FFF; }
              .list div.image-list-container div.img-hover ul li a:hover i.glyphicon-heart {
                color: #CD1F25; }
              .list div.image-list-container div.img-hover ul li a:hover i.glyphicon-link {
                color: #FFC107; }

.signup-btn {
  border: 1px solid #FFF;
  border-radius: 1px; }

.j-index {
  padding-right: 10%;
  padding-left: 10%; }
  .j-index h1 {
    font-size: 35px;
    font-weight: 700;
    color: #4E4E4E; }
  .j-index p {
    font-weight: 300;
    font-size: 18px;
    color: #8E8E8E; }

.btn {
  border-radius: 3px !important; }

#my-slider {
  width: 100% !important; }
  #my-slider .gra {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0px;
    z-index: 2;
    /* IE10+ */
    background-image: -ms-linear-gradient(top, transparent 40%, #000000 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, transparent 40%, #000000 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, transparent 40%, #000000 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40, transparent), color-stop(100, #000000));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, transparent 40%, #000000 100%);
    /* W3C Markup */
    background-image: linear-gradient(to bottom, transparent 40%, #000000 100%); }
    #my-slider .gra .info {
      margin-top: 470px;
      bottom: 100px;
      left: 90px; }
      #my-slider .gra .info h1 {
        font-weight: 900;
        color: white;
        font-size: 55px; }
      #my-slider .gra .info small {
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #8E8E8E;
        font-size: 18px;
        letter-spacing: 0.3px; }
  #my-slider .sp-mask {
    width: 100% !important; }

.property-details {
  color: #6D6D6D; }
  .property-details h3 {
    color: #4E4E4E;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 600; }
  .property-details .property-amenities {
    padding-left: 0px;
    list-style: none; }
    .property-details .property-amenities li {
      font-size: 15px;
      padding: 8px;
      color: #8E8E8E; }
      .property-details .property-amenities li b {
        color: #484848;
        font-weight: 500;
        margin-right: 5px;
        margin-left: 10px; }
      .property-details .property-amenities li:not(:last-child) {
        border-bottom: 1px solid #EEEEEE; }
  .property-details p {
    font-size: 15px;
    letter-spacing: 0.2px; }

.property-details-nav {
  margin-bottom: 50px;
  background: #F1F1F1; }
  .property-details-nav ul {
    width: 100%;
    text-align: center; }
    .property-details-nav ul li {
      letter-spacing: 0.3px;
      height: 65px;
      display: inline-block;
      *display: inline;
      /*IE7*/
      *zoom: 1;
      /*IE7*/
      width: 202px;
      color: #484848;
      margin-right: 10px;
      padding: 20px;
      font-size: 16px; }
      .property-details-nav ul li:not(:first-child) {
        border-left: 1px solid #CCCCCC; }

#map {
  height: 400px;
  width: 100%; }

button.btn-p {
  background: #FFDD15; }

/*# sourceMappingURL=style.css.map */
