<h3 class="list-title">Houses</h3>
<div class="row list">
  <div class="col-md-4">
    <div class="image-list-container">
      <img src="http://placehold.it/370x279" alt="" />
      <div class="img-hover">
        <ul>
          <li><a href="#"><i class="glyphicon glyphicon-link"></i> View</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-heart"></i> Save</a></li>
        </ul>
      </div>
    </div>
    <h4 class='title-name'>Lorem Ipsum dolor</h4>

    <p>By <b>Ian Romie Ona</b></p>

    <small>November 30, 1991</small>
  </div>
  <div class="col-md-4">
    <div class="image-list-container">
      <img src="http://placehold.it/370x279" alt="" />
      <div class="img-hover">
        <ul>
          <li><a href="#"><i class="glyphicon glyphicon-link"></i> View</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-heart"></i> Save</a></li>
        </ul>
      </div>
    </div>
    <h4 class='title-name'>Lorem Ipsum dolor</h4>

    <p>By <b>Ian Romie Ona</b></p>

    <small>November 30, 1991</small>
  </div>
  <div class="col-md-4">
    <div class="image-list-container">
      <img src="http://placehold.it/370x279" alt="" />
      <div class="img-hover">
        <ul>
          <li><a href="#"><i class="glyphicon glyphicon-link"></i> View</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-heart"></i> Save</a></li>
        </ul>
      </div>
    </div>
    <h4 class='title-name'>Lorem Ipsum dolor</h4>

    <p>By <b>Ian Romie Ona</b></p>

    <small>November 30, 1991</small>
  </div>
</div>
<div class="row list">
  <div class="col-md-4">
    <div class="image-list-container">
      <img src="http://placehold.it/370x279" alt="" />
      <div class="img-hover">
        <ul>
          <li><a href="#"><i class="glyphicon glyphicon-link"></i> View</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-heart"></i> Save</a></li>
        </ul>
      </div>
    </div>
    <h4 class='title-name'>Lorem Ipsum dolor</h4>

    <p>By <b>Ian Romie Ona</b></p>

    <small>November 30, 1991</small>
  </div>
  <div class="col-md-4">
    <div class="image-list-container">
      <img src="http://placehold.it/370x279" alt="" />
      <div class="img-hover">
        <ul>
          <li><a href="#"><i class="glyphicon glyphicon-link"></i> View</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-heart"></i> Save</a></li>
        </ul>
      </div>
    </div>
    <h4 class='title-name'>Lorem Ipsum dolor</h4>

    <p>By <b>Ian Romie Ona</b></p>

    <small>November 30, 1991</small>
  </div>
  <div class="col-md-4">
    <div class="image-list-container">
      <img src="http://placehold.it/370x279" alt="" />
      <div class="img-hover">
        <ul>
          <li><a href="#"><i class="glyphicon glyphicon-link"></i> View</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-heart"></i> Save</a></li>
        </ul>
      </div>
    </div>
    <h4 class='title-name'>Lorem Ipsum dolor</h4>

    <p>By <b>Ian Romie Ona</b></p>

    <small>November 30, 1991</small>
  </div>
</div>
<script src="scripts/style.js"></script>
