<h1>Featured Properties</h1>
<br>
<div class="row list">
  <div class="col-md-4">
    <div class="image-list-container">
      <img src="images/test-img.jpg" alt="" />
      <div class="img-hover">
        <ul>
          <li><a href="#"><i class="glyphicon glyphicon-link"></i> View</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-heart"></i> Save</a></li>
        </ul>
      </div>
      <p class="broker-cont"><img src="images/broker.png" class="broker_mini_img"> <b>Ian Romie Ona</b></p>
    </div>
    <h4 class='title-name'>Lorem Ipsum dolor</h4>
    <small class="property-address"><i class="glyphicon glyphicon-map-marker"></i> Greenbelt Radissons, Makati City</small>
    <br>
    <p><label><i class="fa fa-car"></i> x2 </label><label><i class="fa fa-bed"></i> x2 </label><label><i class="fa fa-user"></i> x2 </label><small class="pull-right">P 21,000.00</small></p>

  </div>
  <div class="col-md-4">
    <div class="image-list-container">
      <img src="images/test-img.jpg" alt="" />
      <div class="img-hover">
        <ul>
          <li><a href="#"><i class="glyphicon glyphicon-link"></i> View</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-heart"></i> Save</a></li>
        </ul>
      </div>
        <p class="broker-cont"><img src="images/broker.png" class="broker_mini_img"> <b>Ariel Moris</b></p>
    </div>
    <h4 class='title-name'>Lorem Ipsum dolor</h4>
    <small class="property-address"><i class="glyphicon glyphicon-map-marker"></i> Greenbelt Radissons, Makati City</small>

    <p><label><i class="fa fa-car"></i> x2 </label><label><i class="fa fa-bed"></i> x2 </label><label><i class="fa fa-user"></i> x2 </label><small class="pull-right">P 21,000.00</small></p>

  </div>
  <div class="col-md-4">
    <div class="image-list-container">
      <img src="images/test-img.jpg" alt="" />
      <div class="img-hover">
        <ul>
          <li><a href="#"><i class="glyphicon glyphicon-link"></i> View</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-heart"></i> Save</a></li>
        </ul>
      </div>
            <p class="broker-cont"><img src="images/broker.png" class="broker_mini_img"> <b>Edbert Guinto</b></p>
    </div>
    <h4 class='title-name'>Lorem Ipsum dolor</h4>
    <small class="property-address"><i class="glyphicon glyphicon-map-marker"></i> Greenbelt Radissons, Makati City</small>

    <p><label><i class="fa fa-car"></i> x2 </label><label><i class="fa fa-bed"></i> x2 </label><label><i class="fa fa-user"></i> x2 </label><small class="pull-right">P 21,000.00</small></p>

  </div>
</div>
<div class="row list">
  <div class="col-md-4">
    <div class="image-list-container">
      <img src="images/test-img.jpg" alt="" />
      <div class="img-hover">
        <ul>
          <li><a href="#"><i class="glyphicon glyphicon-link"></i> View</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-heart"></i> Save</a></li>
        </ul>
      </div>
            <p class="broker-cont"><img src="images/broker.png" class="broker_mini_img"> <b>Ian Romie Ona</b></p>
    </div>
    <h4 class='title-name'>Lorem Ipsum dolor</h4>
    <small class="property-address"><i class="glyphicon glyphicon-map-marker"></i> Greenbelt Radissons, Makati City</small>

    <p><label><i class="fa fa-car"></i> x2 </label><label><i class="fa fa-bed"></i> x2 </label><label><i class="fa fa-user"></i> x2 </label><small class="pull-right">P 21,000.00</small></p>

  </div>
  <div class="col-md-4">
    <div class="image-list-container">
      <img src="images/test-img.jpg" alt="" />
      <div class="img-hover">
        <ul>
          <li><a href="#"><i class="glyphicon glyphicon-link"></i> View</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-heart"></i> Save</a></li>
        </ul>
      </div>
            <p class="broker-cont"><img src="images/broker.png" class="broker_mini_img"> <b>Ian Romie Ona</b></p>
    </div>
    <h4 class='title-name'>Lorem Ipsum dolor</h4>
    <small class="property-address"><i class="glyphicon glyphicon-map-marker"></i> Greenbelt Radissons, Makati City</small>

    <p><label><i class="fa fa-car"></i> x2 </label><label><i class="fa fa-bed"></i> x2 </label><label><i class="fa fa-user"></i> x2 </label><small class="pull-right">P 21,000.00</small></p>

  </div>
  <div class="col-md-4">
    <div class="image-list-container">
      <img src="images/test-img.jpg" alt="" />
      <div class="img-hover">
        <ul>
          <li><a href="#"><i class="glyphicon glyphicon-link"></i> View</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-heart"></i> Save</a></li>
        </ul>
      </div>
            <p class="broker-cont"><img src="images/broker.png" class="broker_mini_img"> <b>Ian Romie Ona</b></p>
    </div>
    <h4 class='title-name'>Lorem Ipsum dolor</h4>
    <small class="property-address"><i class="glyphicon glyphicon-map-marker"></i> Greenbelt Radissons, Makati City</small>

    <p><label><i class="fa fa-car"></i> x2 </label><label><i class="fa fa-bed"></i> x2 </label><label><i class="fa fa-user"></i> x2 </label><small class="pull-right">P 21,000.00</small></p>

  </div>
</div>
<br>
<h1>Latest Properties</h1>
<br>
<div class="row list">
  <div class="col-md-4">
    <div class="image-list-container">
      <img src="images/test-img.jpg" alt="" />
      <div class="img-hover">
        <ul>
          <li><a href="#"><i class="glyphicon glyphicon-link"></i> View</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-heart"></i> Save</a></li>
        </ul>
      </div>
            <p class="broker-cont"><img src="images/broker.png" class="broker_mini_img"> <b>Ian Romie Ona</b></p>
    </div>
    <h4 class='title-name'>Lorem Ipsum dolor</h4>
    <small class="property-address"><i class="glyphicon glyphicon-map-marker"></i> Greenbelt Radissons, Makati City</small>

    <p><label><i class="fa fa-car"></i> x2 </label><label><i class="fa fa-bed"></i> x2 </label><label><i class="fa fa-user"></i> x2 </label><small class="pull-right">P 21,000.00</small></p>

  </div>
  <div class="col-md-4">
    <div class="image-list-container">
      <img src="images/test-img.jpg" alt="" />
      <div class="img-hover">
        <ul>
          <li><a href="#"><i class="glyphicon glyphicon-link"></i> View</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-heart"></i> Save</a></li>
        </ul>
      </div>
            <p class="broker-cont"><img src="images/broker.png" class="broker_mini_img"> <b>Ian Romie Ona</b></p>
    </div>
    <h4 class='title-name'>Lorem Ipsum dolor</h4>
    <small class="property-address"><i class="glyphicon glyphicon-map-marker"></i> Greenbelt Radissons, Makati City</small>

    <p><label><i class="fa fa-car"></i> x2 </label><label><i class="fa fa-bed"></i> x2 </label><label><i class="fa fa-user"></i> x2 </label><small class="pull-right">P 21,000.00</small></p>

  </div>
  <div class="col-md-4">
    <div class="image-list-container">
      <img src="images/test-img.jpg" alt="" />
      <div class="img-hover">
        <ul>
          <li><a href="#"><i class="glyphicon glyphicon-link"></i> View</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-heart"></i> Save</a></li>
        </ul>
      </div>
            <p class="broker-cont"><img src="images/broker.png" class="broker_mini_img"> <b>Ian Romie Ona</b></p>
    </div>
    <h4 class='title-name'>Lorem Ipsum dolor</h4>
    <small class="property-address"><i class="glyphicon glyphicon-map-marker"></i> Greenbelt Radissons, Makati City</small>

    <p><label><i class="fa fa-car"></i> x2 </label><label><i class="fa fa-bed"></i> x2 </label><label><i class="fa fa-user"></i> x2 </label><small class="pull-right">P 21,000.00</small></p>

  </div>
</div>
<div class="row list">
  <div class="col-md-4">
    <div class="image-list-container">
      <img src="images/test-img.jpg" alt="" />
      <div class="img-hover">
        <ul>
          <li><a href="#"><i class="glyphicon glyphicon-link"></i> View</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-heart"></i> Save</a></li>
        </ul>
      </div>
            <p class="broker-cont"><img src="images/broker.png" class="broker_mini_img"> <b>Ian Romie Ona</b></p>
    </div>
    <h4 class='title-name'>Lorem Ipsum dolor</h4>
    <small class="property-address"><i class="glyphicon glyphicon-map-marker"></i> Greenbelt Radissons, Makati City</small>

    <p><label><i class="fa fa-car"></i> x2 </label><label><i class="fa fa-bed"></i> x2 </label><label><i class="fa fa-user"></i> x2 </label><small class="pull-right">P 21,000.00</small></p>

  </div>
  <div class="col-md-4">
    <div class="image-list-container">
      <img src="images/test-img.jpg" alt="" />
      <div class="img-hover">
        <ul>
          <li><a href="#"><i class="glyphicon glyphicon-link"></i> View</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-heart"></i> Save</a></li>
        </ul>
      </div>
            <p class="broker-cont"><img src="images/broker.png" class="broker_mini_img"> <b>Ian Romie Ona</b></p>
    </div>
    <h4 class='title-name'>Lorem Ipsum dolor</h4>
    <small class="property-address"><i class="glyphicon glyphicon-map-marker"></i> Greenbelt Radissons, Makati City</small>

    <p><label><i class="fa fa-car"></i> x2 </label><label><i class="fa fa-bed"></i> x2 </label><label><i class="fa fa-user"></i> x2 </label><small class="pull-right">P 21,000.00</small></p>

  </div>
  <div class="col-md-4">
    <div class="image-list-container">
      <img src="images/test-img.jpg" alt="" />
      <div class="img-hover">
        <ul>
          <li><a href="#"><i class="glyphicon glyphicon-link"></i> View</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-heart"></i> Save</a></li>
        </ul>
      </div>
            <p class="broker-cont"><img src="images/broker.png" class="broker_mini_img"> <b>Ian Romie Ona</b></p>
    </div>
    <h4 class='title-name'>Lorem Ipsum dolor</h4>
    <small class="property-address"><i class="glyphicon glyphicon-map-marker"></i> Greenbelt Radissons, Makati City</small>

    <p><img src="images/broker.png" class="broker_mini_img"> <b>Ian Romie Ona</b><small class="pull-right">P 21,000.00</small></p>

  </div>
</div>
